.question-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .question-card {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .question-card:hover {
    box-shadow: 0px 0px 10px #ccc;
    cursor: pointer;
  }
  
  .question-card h3 {
    margin: 0;
  }
  
  .question-card p {
    margin: 5px 0;
  }
  